{% for comment in comments %}
    <div class="comment">
        <p>{{ comment.content }}</p>
        <p><small>Posted by {{ comment.author }} on {{ comment.created_at }}</small></p>
        {% if comment.author == user %}
            <a href="{% url 'edit_comment' pk=comment.pk %}">Edit</a>
            <a href="{% url 'delete_comment' pk=comment.pk %}">Delete</a>
        {% endif %}
    </div>
{% endfor %}
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Post Comment</button>
</form>
